.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
* {
  text-align: center;
}
body {
  padding: 2rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}
form input {
  padding: 0.34rem;
  border-radius: 20px;
  border: black solid 2px;
}
@media (max-width: 608px) {
  .email {
    display: none;
  }
}
form button {
  padding: 0.64 2rem;
  height: 30px;
  cursor: pointer;
  width: 176px;
  border-radius: 10px;
}
table {
  margin: 20px auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
